################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Creatify
/.vs/ProjectEvaluation
/.vs

appsettings*.json
